---
layout: page
title: 
permalink: payment.html
---


 {% include 02fbscript.html %}
{% include 04header.html %}
 <div>
 <div id="wedding" class="container">
 
         <h1 class="title space-top logo-font text-center text-default">Wedding Section</h1>
        
          <br> 
            
        <div class="row grid-space-10">
           
            
            
            
            
               
                          
               
                  
          
            
                            <!-- CART -->
                
            <div class="col-md-6">
                
                <div class="pv-30 ph-20 white-bg feature-box bordered text-center">
                                            
                                            
                <h3 class="">Availability confirmed?</h3>
               <p class="text-default">By paying the small administration charge you will authorise us to confirm your bookings and allow us to assign you to the required specialists from our team.</p>                             
                                       
          <div id="deposit">  
            <form action="https://secure.worldpay.com/wcc/purchase" method="post">
                        
                                        
                                       <input type="hidden" name="testMode" value="0">

                                        <input type="hidden" name="instId" value="1154620">
                                        
                                        <input type="hidden" name="cartId" value="Deposit">
                                        <input type="hidden" name="amount" value="25.00">
                                        <input type="hidden" name="currency" value="GBP">
                                    
                                        
                                        
                                        <div class="form-group2 text-center">
                                         <div class="separator clearfix"></div>  
                                          <input class="worldpay-button btn btn-default" type="submit" value="Pay Now">&nbsp;Deposit:&nbsp;&pound;25.00 
                                        </div>
                                        
                               
                                </form>
                                              <p id=""><em>Please be aware that this deposit is <strong>non-refundable</strong>. The balance of your invoice is payable on the day.</em></p>
                                     <p>&nbsp;</p>
                                              <table cellspacing="2" border="0" align="center">    
                                   <tbody>
                                       <tr>
                                           <td>
                                               <a href="http://www.mastercard.com" target="_blank"><img src="https://secure.worldpay.com/jsp/shopper/icons/WP_ECMC.gif" border="0" alt="Mastercard"></a>
                                           </td>
                                           <td>
                                               <a href="http://www.jcbusa.com" target="_blank"><img src="https://secure.worldpay.com/jsp/shopper/icons/WP_JCB.gif" border="0" alt="JCB"></a>
                                           </td>
                                           <td>
                                               <a href="http://www.maestrocard.com" target="_blank"><img src="https://secure.worldpay.com/jsp/shopper/icons/WP_MAESTRO.gif" border="0" alt="Maestro"></a>
                                           </td>
                                           <td>
                                                <a href="http://www.visa.com" target="_blank"><img src="https://secure.worldpay.com/jsp/shopper/icons/WP_VISA_DELTA.gif" border="0" alt="Visa Debit"></a>  
                                           </td>
                                       </tr>
                                        <tr>
                                            <td colspan="5" align="center"><a href="http://www.worldpay.com/support/index.php?CMP=BA22713" target="_blank"><img src="https://secure.worldpay.com/jsp/shopper/icons/../pictures/poweredByWorldPay.gif" border="0" alt="Powered by WorldPay"></a></td>
                                       </tr>
                                    </tbody>
                                </table>
                                        </div> 
             </div> 
                
        

                    </div>

            <div class="col-md-6">
                
                <div class="pv-30 ph-20 white-bg feature-box bordered text-center">
                                            
                                            
                <h3 class="">What now?</h3>
               <p class="text-default"></p>                             
                                       
          
             </div> 
                
        

                    </div>
            
            
          </div>

</div>
</div>

{% include 13subfooter.html%}



   





    










   



