---
layout: default
title: 
permalink: tips.html
---


 {% include 02fbscript.html %}
{% include 04header.html %}
<section class="main-container">
<div class="container clearfix">
    
    <h3 class="title space-top text-center mt-4">Preparing for your <strong>Wedding</strong></h3>
          <div class="separator"></div>
                                    <!-- FIRST ROW -->
    <div class="col-container row grid-space-10">
        
        <div class="col col-md-6 col-lg-6 pv-30 ph-20 white-bg feature-box bordered darker">
            <div class="titles text-center">
                <h3 class="logo-font text-default">Hair</h3>
            </div>
            <div class="separator clearfix"></div>
            
            <ul class="list-icons">
                <li><i class="icon-check-1"></i>First off think about what length. Plan ahead so you won’t have to have it cut too near the big day.</li>
                <li><i class="icon-check-1"></i>Regular trims to keep the split ends away.</li>
                <li><i class="icon-check-1"></i>Keep all aggressive styling with tongs and straighteners to a minimum and incorporate a ‘heat protector’ into your styling regime.</li>
                <li><i class="icon-check-1"></i>Extensions - ‘clip-ins’ and ‘real hair’ are best. Make sure you are colour matched before you come and we’ll blend them in to give your hair a fuller look.</li>
            </ul>
            
        </div>
        
        <div class="col col-md-6 col-lg-6 pv-30 ph-20 white-bg feature-box bordered darker">
            <div class="titles text-center">
                <h3 class="logo-font text-default">Look Book</h3>
            </div>
            <div class="separator clearfix"></div>
            
            <ul class="list-icons">
                <li><i class="icon-check-1"></i>Collect images and ideas to bring with you and we can discuss them and adapt them to get the individual look you’re after. Pinterest is a great resource.</li>
                <li><i class="icon-check-1"></i>Alternatively, get your own hair stylist to spend some time experimenting. get photos of the styles you like.</li>
                <li><i class="icon-check-1"></i>We have many years experience working this way and we will still offer advice and help on the day.</li>
            </ul>
            
        </div>
        
    </div>
                            <!-- FIRST ROW END -->
                            <!-- SECOND ROW -->
    <div class="col-container row grid-space-10">
        
        <div class="col col-md-6 col-lg-6 pv-30 ph-20 white-bg feature-box bordered darker">
            <div class="titles text-center">
                <h3 class="logo-font text-default">Face and Skin</h3>
            </div>
            <div class="separator clearfix"></div>
            
            <ul class="list-icons">
                <li><i class="icon-check-1"></i>Don’t go to bed without removing your make-up.</li>
                <li><i class="icon-check-1"></i>Incorporate <strong>hyaluronic acid</strong> into your daily routine.</li>
                <li><i class="icon-check-1"></i>Even oily skin needs moisturiser - oily skin and hydration are two different things.</li>
                <li><i class="icon-check-1"></i>If you need advice, book with a skin care clinic to find the best products for your skin type.</li>
                <li><i class="icon-check-1"></i><strong>Professional tanning</strong> should be booked two days before your wedding.</li>
                <li><i class="icon-check-1"></i><strong>Gradual tanning</strong> self applied should be started the week before your wedding.</li>
                <li><i class="icon-check-1"></i>Avoid over tanning your face. Remember that we can add bronze and colour to your face.</li>
                <li><i class="icon-check-1"></i>Shape your <strong>brows</strong> and waken up your eyes,  Your brows frame your face, so make sure you get them professionally shaped to suit your face shape.  Get them done a few days to a week prior to your day to avoid any redness or a rash.</li>
            </ul>
            
        </div>
        
        <div class="col col-md-6 col-lg-6 pv-30 ph-20 white-bg feature-box bordered darker">
            <div class="titles text-center">
                <h3 class="logo-font text-default">On the day</h3>
            </div>
            <div class="separator clearfix"></div>
            
            <ul class="list-icons">
                <li><i class="icon-check-1"></i>Generally, it's advisable that children are last to have hair & make-up, as they are less likely to sit still and younger children tend to touch their face and hair more frequently.</li>
                <li><i class="icon-check-1"></i>Where possible, that you wash and dry your hair, without the use of straighteners or tongs the night prior to your wedding.  This gives your style extra 'staying power' and prevents it from being 'too flyaway’.</li>
                <li><i class="icon-check-1"></i>Hotels do not have the facilities to enable us to wash hair, so we kindly ask that you do so before our arrival and have in a damp towel.</li>
                <li><i class="icon-check-1"></i>Wear loose fitting clothing or a robe so not to disturb your hair style.</li>
                <li><i class="icon-check-1"></i>Cleanse your face and apply moisturiser approx 30 mins before our arrival.</li>
                <li><i class="icon-check-1"></i>Brush your teeth prior to your make-up application and put your contacts in!</li>
                <li><i class="icon-check-1"></i>Try not to rush around - it's hard to apply make-up to a sweaty panicked bride so enjoy the make-over time and relax!</li>
                <li><i class="icon-check-1"></i>Your hairstylist will need an quiet area beside some plug points and your make-up artist will ideally like to have an area with lots of natural light.</li>
            </ul>
            
        </div>
        
    </div>
                    <!-- SECOND ROW END-->
    <!-- section start -->
      <!-- ================ -->
      <section class="section dark-bg clearfix">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="call-to-action text-center">
                <div class="row">
                  <div class="col-md-8">
                    <h3 class="title">Why not download the printable version</h3>
                    <p>We've made a PDF version with links to lots of resources. Tell your guests to get it too.</p>
                  </div>
                  <div class="col-md-4">
                    <br>
                    <p><a href="tips.pdf" class="btn btn-lg btn-gray-transparent btn-animated">Get it Now!<i class="fa fa-arrow-right pl-20"></i></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

</div>
    </section>