---
layout: page
title: 
permalink: /tips/
---


 {% include 02fbscript.html %}
{% include 04header.html %}

<div class="container clearfix">
    
    <h1 class="title space-top logo-font text-center text-default">Preparing for your big day</h1>
          <div class="separator"></div>
                                    <!-- FIRST ROW -->
    <div class="col-container row grid-space-10">
        
        <div class="col col-md-6 col-lg-6 pv-30 ph-20 white-bg feature-box bordered">
            <div class="titles text-center">
                <h3>Hair</h3>
            </div>
            <div class="separator clearfix"></div>
            
            <ul class="list-icons">
                <li><i class="icon-check-1"></i>First off think about what length. Plan ahead so you won’t have to have it cut too near the big day.</li>
                <li><i class="icon-check-1"></i>Regular trims to keep the split ends away.M</li>
                <li><i class="icon-check-1"></i>Keep all aggressive styling with tongs and straighteners to a minimum and incorporate a ‘heat protector’ into your styling regime.</li>
                <li><i class="icon-check-1"></i>Extensions - ‘clip-ins’ and ‘real hair’ are best. Make sure you are colour matched before you come and we’ll blend them in to give your hair a fuller look.</li>
            </ul>
            
        </div>
        
        <div class="col col-md-6 col-lg-6 pv-30 ph-20 white-bg feature-box bordered">
            
            <h3></h3>
            <div class="separator clearfix"></div>
            
            <ul class="list-icons">
                <li><i class="icon-check-1"></i></li>
                <li><i class="icon-check-1"></i></li>
                <li><i class="icon-check-1"></i></li>
                <li><i class="icon-check-1"></i></li>
                <li><i class="icon-check-1"></i></li>
                <li><i class="icon-check-1"></i></li>
                <li><i class="icon-check-1"></i></li>
                <li><i class="icon-check-1"></i></li>
            </ul>
            
        </div>
        
    </div>
                            <!-- FIRST ROW END -->
                            <!-- SECOND ROW -->
    <div class="col-container row grid-space-10">
        
        <div class="col col-md-6 col-lg-6 pv-30 ph-20 white-bg feature-box bordered">
            <h3></h3>
            <div class="separator clearfix"></div>
            
            <ul class="list-icons">
                <li><i class="icon-check-1"></i></li>
                <li><i class="icon-check-1"></i></li>
                <li><i class="icon-check-1"></i></li>
                <li><i class="icon-check-1"></i></li>
                <li><i class="icon-check-1"></i></li>
                <li><i class="icon-check-1"></i></li>
                <li><i class="icon-check-1"></i></li>
                <li><i class="icon-check-1"></i></li>
            </ul>
            
        </div>
        
        <div class="col col-md-6 col-lg-6 pv-30 ph-20 white-bg feature-box bordered">
            <h3></h3>
            <div class="separator clearfix"></div>
            
            <ul class="list-icons">
                <li><i class="icon-check-1"></i></li>
                <li><i class="icon-check-1"></i></li>
                <li><i class="icon-check-1"></i></li>
                <li><i class="icon-check-1"></i></li>
                <li><i class="icon-check-1"></i></li>
                <li><i class="icon-check-1"></i></li>
                <li><i class="icon-check-1"></i></li>
                <li><i class="icon-check-1"></i></li>
            </ul>
            
        </div>
        
    </div>
                    <!-- SECOND ROW END-->

</div>