<head>
    <meta charset="utf-8">
    <title>{% if page.title %} {{ page.title }}{% else %}{{ site.title }}{% endif %} </title>
    <meta name="description" content="Complete Brides - wedding hair and makeup">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Web Fonts -->

    <link href="https://fonts.googleapis.com/css?family=Rouge+Script" rel="stylesheet" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Fontello CSS -->
    <link href="assets/fonts/fontello/css/fontello.css" rel="stylesheet">

    <!--
/**
 * @license
 * MyFonts Webfont Build ID 3514874, 2018-01-24T02:19:08-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: ByronRR-Medium by Red Rooster Collection
 * URL: https://www.myfonts.com/fonts/redrooster/byron-rr/medium-regular/
 * Copyright: Copyright (c) 2014 by International TypeFounders, Inc. All rights
 * reserved.
 * Licensed pageviews: 10,000
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3514874
 * 
 * © 2018 MyFonts Inc
*/

-->
    <link href="assets/fonts/byron/MyFontsWebfontsKit.css" rel="stylesheet" type="text/css">

    <!-- Plugins -->
    <link href="assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="assets/plugins/rs-plugin-5/css/settings.css" rel="stylesheet">
    <link href="assets/plugins/rs-plugin-5/css/layers.css" rel="stylesheet">
    <link href="assets/plugins/rs-plugin-5/css/navigation.css" rel="stylesheet">
    <link href="assets/css/animations.css" rel="stylesheet">
    <link href="assets/plugins/owlcarousel2assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/plugins/owlcarousel2assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="assets/plugins/hover/hover-min.css" rel="stylesheet">

    <!-- The Project's core CSS file -->
    <!-- Use css/rtl_style.css for RTL version -->
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- Include SmartCart CSS -->
    <link href="assets/css/smart_cart.min.css" rel="stylesheet" type="text/css" />

    <!-- The Project's Typography CSS file, includes used fonts -->
    <!-- Used font for body: Roboto -->
    <!-- Used font for headings: Raleway -->
    <!-- Use css/rtl_typography-default.css for RTL version -->
    <link href="assets/css/typography-default.css" rel="stylesheet">
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
    <link href="assets/css/skins/pink.css" rel="stylesheet">


    <!-- Custom css -->
    <link href="assets/css/custom.css" rel="stylesheet">



</head>
