<!-- section start -->
<!-- ================ -->

<section class="light-gray-bg pv-30 clearfix">
    <span class="anchor" id="Team"></span>
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-lg-10">
                <h2 class="text-center mt-4">About <strong> Us</strong></h2>
                <div class="separator"></div>
                <p class="large">We are conveniently located for the romantic town of Gretna green. We are a freelance service so our brides and their wedding parties can relax, as we travel to your home or hotel and you don't need to leave your room until your ceremony. Established in 1999 we have grown to become a team of experienced stylists working together to create something special for each clients. We strive to offer a bespoke look, so whether it be classic, romantic, boho or vintage styles we work with you to provide stunning hair & long lasting make-up looks for all of the bridal party. We take great pride in the work that we do.</p>
                <p class="large">Being a make-up artist or stylist isn't just based on artistic skill but the ability to communicate with our brides in order to create something special.</p>

                <div class="pv-30 ph-20 white-bg feature-box bordered text-center">
                    <p><em>"We got married a week ago today and coming from Northern Ireland I was a bit worried about my makeup because I couldn't have a trial as we arrived the day before the wedding but I needn't have worried at all!! Kirsty arrived at the hotel room promptly at 9:30 my bridesmaid had her makeup done first and it was flawless! I on the other hand never wear makeup so was worried I'd look too made up, but again after much reassurance from Kirsty via messenger we decided on how my makeup would be and I can honestly say I've never felt so pretty or had so many compliments in my life!! I can't recommend complete bridal enough absolutely fantastic artists."</em></p>
                </div>

                <p class="large">Feeling good about yourself is key to feeling confident and beautiful on your wedding day. We like to create a relaxed atmosphere for you to enjoy, as we understand 'getting ready' is a big part of your big day.</p>

            </div>
        </div>
        <div class="row justify-content-lg-center">
            <div class="col-lg-8">
                <h2 class="text-center mt-4">Our <strong>Team</strong></h2>
                <div class="separator"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <span class="icon large circle"><img class="rounded-circle" alt="Kirsty" src="assets/images/kirsty.jpg"></span>
                    <h3>Kirsty McEwen</h3>
                    <div class="separator clearfix"></div>
                    <p class="text-muted">A fully qualified Beauty Therapist of 19 years, specialising in Bridal make-up for over 15 years.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                    <span class="icon large circle"><img class="rounded-circle" alt="beauty" src="assets/images/amy.jpg"></span>
                    <h3>Amy Hampson</h3>
                    <div class="separator clearfix"></div>
                    <p class="text-muted">Amy joined Complete Bride in 2016 and has over 10 years experience in the hair industry. She is renowned for her creative flair.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                    <span class="icon large circle"><img class="rounded-circle" alt="beauty" src="assets/images/morgan.jpg"></span>
                    <h3>Morgan Marchi</h3>
                    <div class="separator clearfix"></div>
                    <p class="text-muted">A fully qualified hair stylist of 12 years with 8 years of salon experience.</p>
                </div>
            </div>
            <div class="clearfix visible-md"></div>
            <div class="col-lg-6 col-md-6">
                <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <span class="icon large circle"><img class="rounded-circle" alt="beauty" src="assets/images/samantha.jpg"></span>
                    <h3>Samantha Copland</h3>
                    <div class="separator clearfix"></div>
                    <p class="text-muted">A fully trained Beauty Therapist of 10 years with a creative flair for both hair and make-up.</p>
                </div>
            </div>

        </div>
    </div>

</section>
<!-- section end -->
