
<!-- section start -->
      <!-- ================ -->

    <section class="light-gray-bg pv-30 clearfix">
        <span class="anchor" id="Team"></span>
        <div class="container">
          <div class="row justify-content-lg-center">
            <div class="col-lg-8">
              <h2 class="text-center mt-4">Our <strong>Team</strong></h2>
              <div class="separator"></div>
              <p class="large text-center">We are a professional team of freelance hair stylists and make-up artists with almost twenty years experience in the bridal industry. We are ready to travel to you and work with you to produce a unique style that will make you feel fabulous throughout your wedding day.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon large circle"><img class="rounded-circle" alt="Kirsty" src="assets/images/kirsty.jpg"></span>
                <h3>Kisty McEwen</h3>
                <div class="separator clearfix"></div>
                <p class="text-muted">A fully qualified Beauty Therapist of 19 years, specialising in Bridal make-up for over 15 years.</p>
                <!--<a class="link-dark" href="page-services.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a>-->
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                <span class="icon large circle"><img class="rounded-circle" alt="beauty" src="assets/images/abbie.jpg"></span>
                <h3>Amy</h3>
                <div class="separator clearfix"></div>
                <p class="text-muted">A fully qualified make-up artist, specialising in Bridal, fashion, commercial editorial and evening make-up.</p>
                <!--<a class="link-dark" href="page-services.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a>-->
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                <span class="icon large circle"><img class="rounded-circle" alt="beauty" src="assets/images/morgan.jpg"></span>
                <h3>Morgan McIntosh</h3>
                <div class="separator clearfix"></div>
                <p class="text-muted">A fully qualified hair stylist of 12 years with 8 years of salon experience.</p>
                <!--<a class="link-dark" href="page-services.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a>-->
              </div>
            </div>
            <div class="clearfix visible-md"></div>
            <div class="col-lg-4 col-md-6">
              <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon large circle"><img class="rounded-circle" alt="beauty" src="assets/images/samantha.jpg"></span>
                <h3>Samantha Halliday</h3>
                <div class="separator clearfix"></div>
                <p class="text-muted">A fully trained Beauty Therapist of 10 years with a creative flair for both hair and make-up.</p>
                <!--<a class="link-dark" href="page-services.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a>-->
              </div>
            </div>
            
            </div>
          </div>
        
      </section>
      <!-- section end -->