<!-- section start -->
<!-- ================ -->
<section class="full-width-section">
    <div class="full-image-container border-clear light-gray-bg">
        <img class="to-right-block" src="assets/images/beauty-section-1.jpg" alt="">
        <div class="full-image-overlay text-right">
            <h3 class="mt-4">Styling Beautiful Brides Since 1999</h3>
            <ul class="list-icons">
                <li>Hair extension styling and fitting <i class="icon-check-1"></i></li>
                <li>Shellac nails <i class="icon-check-1"></i></li>
                <li>French manicure <i class="icon-check-1"></i></li>
                <li>False eyelashes <i class="icon-check-1"></i></li>
                <li>High Definition Brows <i class="icon-check-1"></i></li>
                <li>...and much more</li>
            </ul>
        </div>
    </div>
    <div class="full-text-container border-clear light-gray-bg">
        <h3 class="mt-4 logo-font">Hair & Make-up Planning & Consultation - <span class="text-default">Free!</span></h3>
        <div class="separator-2 hidden-lg-down"></div>
        <p>We understand that most brides won't be able to visit us before their big day, that's why we've tailored our consultation process to suit you:</p>
        <ul class="list-icons">
            <li><i class="icon-check-1"></i>Gather images of the styles you like and bring along as a "look book".</li><br>
            <li><i class="icon-check-1"></i>With that we'll tailor our professional advice to your wants and needs.</li><br>
            <li><i class="icon-check-1"></i>Hair: our experienced stylists will advise on what hair style will suit your face, your veil or your chosen hair accessories.</li><br>
            <li><i class="icon-check-1"></i>Make-up: a natural look, effectively applied to even out skin tone or your own 'must haves', we'll get you that look you want.</li>
        </ul>
        <div class="separator-3 hidden-lg-down"></div>
    </div>
</section>
<!-- section end -->
