<!-- section start -->
<!-- ================ -->
<section class="pv-40 clearfix">
    <span class="anchor" id="Services"></span>
    <div class="container">
        <h1 class="title space-top logo-font text-center text-default">Our Services</h1>
        <div class="separator"></div>
        <br>
        <div class="col-container row grid-space-10">

            <div class="col col-md-4 col-lg-4 pv-30 ph-20 white-bg feature-box bordered text-center">
                <h3>Our Beauty Kits</h3>
                <div class="separator clearfix"></div>
                <p>Each of our stylists has their complete beauty kit to make sure you look your best for that BIG day.</p>
                <p>Our kits include brands such as: Airbase, High Definition, MAC, Illamasque, Huda, Charlotte Tilbury and many other high-end brands.</p>
                <!--  <a href="#" class="btn btn-default btn-animated">Read More <i class="fa fa-angle-double-right"></i></a> -->
            </div>


            <div class="col col-md-4 col-lg-4 pv-30 ph-20 white-bg feature-box bordered text-center">
                <h3>Appointments</h3>
                <div class="separator clearfix"></div>
                <p>We are happy to take your appointments online, however, feel free to give us a call to discuss your individual requirements.</p>
                <p>Ready to book? Just go to our <a href="brideorders.html">booking</a> page and supply your details and the time and place of your wedding and your requirements.</p>
                <!--  <a href="#" class="btn btn-default btn-animated">Make An Appointment <i class="pl-1 fa fa-calendar"></i></a> -->
            </div>


            <div class="col col-md-4 col-lg-4 pv-30 ph-20 white-bg feature-box bordered text-center">
                <h3>Not Just Weddings!</h3>
                <div class="separator clearfix"></div>
                <p>We don't just do weddings, we offer a freelance hair and make-up service for any special occasion.</p>
                <ul class="nav flex-column">
                   <li>You can <a href="mailto:enquiries@completebride.co.uk"><i class="fa fa-envelope-o left"></i> email</a> us,</li>
                    <li> or give us a call <a><i class="fa fa-mobile left"></i> 07879 062 939.</a></li>
                </ul>
               
            </div>

        </div>
    </div>
</section>
<!-- section end -->
