<!-- section start -->
      <!-- ================ -->
      <section class="pv-40 clearfix">
          <span class="anchor" id="Services"></span>
        <div class="container">
          <h1 class="title space-top logo-font text-center text-default">Our Services</h1>
          <div class="separator"></div>
          <br>
           <div class="col-container row grid-space-10">
           
              <div class="col col-md-4 col-lg-4 pv-30 ph-20 white-bg feature-box bordered text-center">
                <h3>Our Beauty Kits</h3>
                <div class="separator clearfix"></div>
                <p>Each of our stylists has their complete beauty kit to make sure you look your best for that BIG day.</p>
                <p>We can also offer 'AIRBASE' and 'High Definition' products for a small surcharge - subject to availability and 28 days notice.</p>  
              <!--  <a href="#" class="btn btn-default btn-animated">Read More <i class="fa fa-angle-double-right"></i></a> -->
              </div>
        
            
              <div class="col col-md-4 col-lg-4 pv-30 ph-20 white-bg feature-box bordered text-center">
                <h3>Appointments</h3>
                <div class="separator clearfix"></div>
                <p>We are happy to take your appointments online, however, feel free to give us a call to discuss your individual requirements.</p>
                <p>Just go to our <a href="brideorders.html">booking</a> section and supply your details and the time and place of your wedding.</p>
              <!--  <a href="#" class="btn btn-default btn-animated">Make An Appointment <i class="pl-1 fa fa-calendar"></i></a> -->
              </div>
            
            
              <div class="col col-md-4 col-lg-4 pv-30 ph-20 white-bg feature-box bordered text-center">
                <h3>Not Just Weddings!</h3>
                  <div class="separator clearfix"></div>
                <p>We don't just do weddings, we offer a freelance hair and make-up service for any special occasion.</p>
                  <p>Just go to our normal <a href="brideorders.html">booking</a> page and remember that we require a minimum of three guests.</p>
                  <br>
                 <!-- <a href="#" class="btn btn-default btn-animated">Make An Appointment <i class="pl-1 fa fa-calendar"></i></a> -->
              </div>
             
          </div>
          </div> 
      </section>
      <!-- section end -->