<!-- section start -->
      <!-- ================ -->
      <section class="dark-translucent-bg parallaxcss pv-40">
          <span class="anchor" id="Testimonials"></span>
        <div class="owl-carousel content-slider" id="testimonials">
          <div class="container">
            <div class="row justify-content-lg-center">
              <div class="col-lg-8">
                <div class="testimonial text-center">
                  <div class="testimonial-image">
                    <img src="assets/images/testimonial-1.jpg" alt="Jane Doe" title="Jane Doe" class="rounded-circle">
                  </div>
                  <h3>Absolutely Stunning!</h3>
                  <div class="separator"></div>
                  <div class="testimonial-body">
                    <blockquote>
                      <p>A massive <b>thank-you</b> to the Complete Bride girls for doing a super job of my hair and make-up on my wedding day and making myself and my bridesmaids look absolutely <b>stunning</b>. Xx</p>
                    </blockquote>
                    <div class="testimonial-info-1">- Mrs Ashleigh Highton</div>
                    <div class="testimonial-info-2"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row justify-content-lg-center">
              <div class="col-lg-8">
                <div class="testimonial text-center">
                  <div class="testimonial-image">
                    <img src="assets/images/testimonial-2.jpg" alt="Jane Doe" title="Jane Doe" class="rounded-circle">
                  </div>
                  <h3>Amazing!</h3>
                  <div class="separator"></div>
                  <div class="testimonial-body">
                    <blockquote>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione in. Expedita nemo, quisquam, fuga adipisci omnis ad mollitia libero culpa nostrum est quia eos esse vel!</p>
                    </blockquote>
                    <div class="testimonial-info-1">- Jane Doe</div>
                    <div class="testimonial-info-2">By Company</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->