<!-- section start -->
      <!-- ================ -->
      <section class="dark-translucent-bg fixed-bg background-img-10 pv-40" style="background-position: 50% 50%;">
        <div class="slick-carousel content-slider">
          <div>
            <div class="container">
              <div class="row justify-content-lg-center">
                <div class="col-lg-8">
                  <div class="testimonial text-center">
                    <h3>A Big thank you!</h3>
                    <div class="separator"></div>
                    <div class="testimonial-body">
                      <blockquote>
                        <p>19.7.17 -A big thank you to Amy and Kirsty for such a wonderful job doing my hair and make up for my wedding at the mill. X</p>
                      </blockquote>
                      <div class="testimonial-info-1">- Karen Gorman</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="container">
              <div class="row justify-content-lg-center">
                <div class="col-lg-8">
                  <div class="testimonial text-center">
                    <h3>Absolutely Stunning!</h3>
                    <div class="separator"></div>
                    <div class="testimonial-body">
                      <blockquote>
                        <p>A massive <b>thank-you</b> to the Complete Bride girls for doing a super job of my hair and make-up on my wedding day and making myself and my bridesmaids look absolutely <b>stunning</b>. Xx</p>
                      </blockquote>
                      <div class="testimonial-info-1">- Jane Doe</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div>
            <div class="container">
              <div class="row justify-content-lg-center">
                <div class="col-lg-8">
                  <div class="testimonial text-center">
                    <h3>Thank you Complete Bride!</h3>
                    <div class="separator"></div>
                    <div class="testimonial-body">
                      <blockquote>
                        <p>We got married on the 22nd April 2016 at the Mill Forge, Gretna Green. Kirsty and Morgan made both myself and my bridesmaid feel truly beautiful. We loved our hair, makeup and nails. Thank you Complete Bride x</p>
                      </blockquote>
                      <div class="testimonial-info-1">- Tracy Gray</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
                  <div>
            <div class="container">
              <div class="row justify-content-lg-center">
                <div class="col-lg-8">
                  <div class="testimonial text-center">
                    <h3>Absolutely perfect!</h3>
                    <div class="separator"></div>
                    <div class="testimonial-body">
                      <blockquote>
                        <p>Absolutely perfect, couldn't be happier with our hair and makeup on the day, (02/09/17 Gretna Hall) both lovely girls as well, definitely recommend xx</p>
                      </blockquote>
                      <div class="testimonial-info-1">- Jane Doe</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
                  <div>
            <div class="container">
              <div class="row justify-content-lg-center">
                <div class="col-lg-8">
                  <div class="testimonial text-center">
                    <h3>I'd fully recommend them to anyone</h3>
                    <div class="separator"></div>
                    <div class="testimonial-body">
                      <blockquote>
                        <p>These ladies did exactly what I wanted for my wedding, they are so friendly and put us all at ease, I'd fully recommend them to anyone wanting to look and feel amazing on their wedding day</p>
                      </blockquote>
                      <div class="testimonial-info-1">- Rachel Leigh</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
      </section>
      <!-- section end -->