 <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
          <div class="container">
            <div class="subfooter-inner">
              <div class="row">
                <div class="col-md-6">
                  <p class="text-center">Copyright © 2018 <a target="_blank" href="http://completebride.co.uk">Complete Bride</a>. All Rights Reserved</p>
                    <p class=""><a><i class="fa fa-mobile left"></i> 07879 062 939</a> 7 Ednam Street, Annan DG12 6EF</p>
                </div>
                  <div class="col-md-6 col-sm-12 col-xs-12 mb-sm-30">
                    	<p class="text-center">
                    		<b>Site Design</b> - <a href="mailto:design@davidcolquhoun.uk"><i class="fa fa-envelope-o left"></i> design@davidcolquhoun.uk</a>
                    	</p>
                    </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .subfooter end -->