<div id="wedding" class="container collapse">

    <h1 class="title space-top logo-font text-center text-default">Wedding Section</h1>
    <div class="separator"></div>
    <br>


    <div class="row grid-space-10">
        <div class="col-md-8">

            <!-- BEGIN  BRIDE -->

            <div class="pv-30 ph-20 white-bg feature-box bordered text-center">

                <section class="for-one">
                    <h3>The Bride or main guest</h3>
                    <p class="text-default">The prices below are those due on the day of your appointment. There will also be a smal administration charge that you must pay before we can confirm your booking and assign to the specialists in our team.</p>
                    <div class="separator clearfix"></div>


                    <!-- HAIR & MAKE-UP -->
                    <div class="panel sc-product-item container">
                        <div class=" row">
                            <div class="panel-heading pull-left col-md-12 col-sm-12" data-name="product_name"><strong>Bride Hair & Make-up</strong>
                                <span class="clickable"><i class="fa fa-arrow-down"></i></span>
                            </div>
                        </div>
                        <div class="panel-body panel-collapsed">
                            <div class="row">
                                <div class="grid-description col-md-6 col-sm-12" data-name="product_desc">Both hair and make-up for the bride.</div>
                                <div class="price col-md-6 col-sm-12">
                                    <strong class="">£50.00</strong>
                                </div>
                            </div>
                            <div class="row grid-space-10"></div>
                            <form id="bride-hair-and-makeup" action="" method="get">
                                <div class="row form-group col-md-12 col-sm-12">
                                    <input class="col-6" type="text" class="sc-cart-contact" placeholder="Full Name" data-name="customer-name" name="customer_name" value="" required />
                                    <input class="col-6" type="email" placeholder="Email" class="sc-cart-contact" data-name="customer_email" value="" required="required" />
                                </div>
                                <div class="row form-group col-md-12 col-sm-12">
                                    <input class="col-6" type="tel" placeholder="Telephone no." class="sc-cart-contact" data-name="customer-telephone" value="" required />
                                    <input class="col-6" type="text" placeholder="Hotel" class="sc-cart-contact" data-name="venue_hotel" value="" required />
                                </div>
                                <div class="row form-group col-md-12 col-sm-12">
                                    <input class="col-6" type="text" placeholder="Wedding Date" class="sc-cart-contact" data-name="wedding-date" value="" required />
                                    <input class="col-6" type="text" placeholder="Wedding Time" class="sc-cart-contact" data-name="wedding-time" value="" required />
                                </div>

                                <input name="product_price" value="75.00" type="hidden" />
                                <input name="product_id" value="01" type="hidden" />
                            </form>
                            <div class="row">
                                <div class="col-md-8">

                                </div>
                                <div class="col-md-4 form-group2 add-to-cart">
                                    <button class="sc-add-to-cart btn btn-default center" type="submit" onclick="submitform()" form="bride-hair-and-makeup">Add to cart</button>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="separator clearfix"></div>

                    <!-- HAIR ONLY -->
                    <div class="panel sc-product-item container">
                        <div class=" row">
                            <div class="panel-heading pull-left col-md-12 col-sm-12" data-name="product_name"><strong>Bride's Hair</strong>
                                <span class="clickable"><i class="fa fa-arrow-down"></i></span>
                            </div>
                        </div>
                        <div class="panel-body panel-collapsed">
                            <div class="row">
                                <div class="grid-description col-md-6 col-sm-12" data-name="product_desc">Hair only appointment for the Bride. </div>
                                <div class="price col-md-6 col-sm-12">
                                    <strong class="">£28.00</strong>
                                </div>
                            </div>
                            <div class="row grid-space-10"></div>
                            <form id="bride-hair-only" action="" method="get">
                                <div class="row form-group col-md-12 col-sm-12">
                                    <input class="col-6" type="text" class="sc-cart-contact" placeholder="Full Name" data-name="customer-name" name="customer_name" value="" required />
                                    <input class="col-6" type="email" placeholder="Email" class="sc-cart-contact" data-name="customer_email" value="" required />
                                </div>
                                <div class="row form-group col-md-12 col-sm-12">
                                    <input class="col-6" type="tel" placeholder="Telephone no." class="sc-cart-contact" data-name="customer-telephone" value="" required />
                                    <input class="col-6" type="text" placeholder="Hotel" class="sc-cart-contact" data-name="venue_hotel" value="" required />
                                </div>
                                <div class="row form-group col-md-12 col-sm-12">
                                    <input class="col-6" type="text" placeholder="Wedding Date" class="sc-cart-contact" data-name="wedding-date" value="" required />
                                    <input class="col-6" type="text" placeholder="Wedding Time" class="sc-cart-contact" data-name="wedding-time" value="" required />
                                </div>
                            </form>
                            <input name="product_price" value="50.00" type="hidden" />
                            <input name="product_id" value="02" type="hidden" />
                            <div class="row">
                                <div class="col-md-8">

                                </div>
                                <div class="col-md-4 form-group2 add-to-cart">
                                    <button class="sc-add-to-cart btn btn-default center">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="separator clearfix"></div>

                    <!-- MAKE-UP ONLY -->
                    <div class="panel sc-product-item container">
                        <div class=" row">
                            <div class="panel-heading pull-left col-md-12 col-sm-12" data-name="product_name"><strong>Bride's Make-up</strong>
                                <span class="clickable"><i class="fa fa-arrow-down"></i></span>
                            </div>
                        </div>
                        <div class="panel-body panel-collapsed">
                            <div class="row">
                                <div class="grid-description col-md-6 col-sm-12" data-name="product_desc">Make-up only for the bride. </div>
                                <div class="price col-md-6 col-sm-12">
                                    <strong class="">£28.00</strong>
                                </div>
                            </div>
                            <div class="row grid-space-10"></div>
                            <form id="bride-makeup-only" action="" method="get">
                                <div class="row form-group col-md-12 col-sm-12">
                                    <input class="col-6" type="text" class="sc-cart-contact" placeholder="Full Name" data-name="customer-name" name="customer_name" value="" required />
                                    <input class="col-6" type="email" placeholder="Email" class="sc-cart-contact" data-name="customer_email" value="" required />
                                </div>
                                <div class="row form-group col-md-12 col-sm-12">
                                    <input class="col-6" type="tel" placeholder="Telephone no." class="sc-cart-contact" data-name="customer-telephone" value="" required />
                                    <input class="col-6" type="text" placeholder="Hotel" class="sc-cart-contact" data-name="venue_hotel" value="" required />
                                </div>
                                <div class="row form-group col-md-12 col-sm-12">
                                    <input class="col-6" type="text" placeholder="Wedding Date" class="sc-cart-contact" data-name="wedding-date" value="" required />
                                    <input class="col-6" type="text" placeholder="Wedding Time" class="sc-cart-contact" data-name="wedding-time" value="" required />
                                </div>
                            </form>
                            <input name="product_price" value="50.00" type="hidden" />
                            <input name="product_id" value="03" type="hidden" />
                            <div class="row">
                                <div class="col-md-8">

                                </div>
                                <div class="col-md-4 form-group2 add-to-cart">
                                    <button class="sc-add-to-cart btn btn-default center">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

            </div>
            <div class="blank-separator clearfix"></div>
            <!-- NON BRIDE  -->

            <div class="pv-30 ph-20 white-bg feature-box bordered text-center">

                <!-- BEGIN GUESTS -->
                <section class="for-guests space-top">
                    <h3>Bridesmaids and other guests</h3>
                    <div class="separator clearfix"></div>


                    <!-- HAIR & MAKE-UP -->
                    <div class="sc-product-item container">
                        <div class="grid row">
                            <div class="grid-name col-md-3 col-sm-12" data-name="product_name"><strong>Guest's Hair & Make-up</strong></div>
                            <div class="grid-description col-md-4 col-sm-12" data-name="product_desc">Hair and make-up. </div>
                            <div class="price col-md-2 col-sm-12">
                                <strong class="">£50.00</strong>
                                <input name="product_price" value="50.00" type="hidden" />
                                <input name="product_id" value="04" type="hidden" />
                            </div>
                            <div class="form-group2 add-to-cart col-md-3 col-sm-12">
                                <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number">
                                <button class="add-on-bookings sc-add-to-cart btn btn-default pull-right">Add to cart</button>
                            </div>
                        </div>
                    </div>

                    <hr class="booking-divider" />
                    <div class="clearfix"></div>


                    <!-- HAIR ONLY -->
                    <div class="sc-product-item container">
                        <div class="grid row">
                            <div class="grid-name col-md-3 col-sm-12" data-name="product_name"><strong>Guest's Hair</strong></div>
                            <div class="grid-description col-md-4 col-sm-12" data-name="product_desc">Appointment for hair. </div>
                            <div class="price col-md-2 col-sm-12">
                                <strong class="">£28.00</strong>
                                <input name="product_price" value="28.00" type="hidden" />
                                <input name="product_id" value="05" type="hidden" />
                            </div>
                            <div class="form-group2 add-to-cart col-md-3 col-sm-12">
                                <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number">
                                <button class="add-on-bookings sc-add-to-cart btn btn-default pull-right">Add to cart</button>
                            </div>
                        </div>
                    </div>

                    <hr class="booking-divider" />
                    <div class="clearfix"></div>

                    <!-- MAKE-UP ONLY -->
                    <div class="sc-product-item container">
                        <div class="grid row">
                            <div class="grid-name col-md-3 col-sm-12" data-name="product_name"><strong>Guest's Make-up</strong></div>
                            <div class="grid-description col-md-4 col-sm-12" data-name="product_desc">Appointment for make-up. </div>
                            <div class="price col-md-2 col-sm-12">
                                <strong class="">£28.00</strong>
                                <input name="product_price" value="28.00" type="hidden" />
                                <input name="product_id" value="06" type="hidden" />
                            </div>
                            <div class="form-group2 add-to-cart col-md-3 col-sm-12">
                                <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number">
                                <button class="add-on-bookings sc-add-to-cart btn btn-default pull-right">Add to cart</button>
                            </div>
                        </div>
                    </div>

                    <hr class="booking-divider" />
                    <div class="clearfix"></div>




                </section>

                <!-- START CHILDREN -->
                <section class="for-children space-top">
                    <h3>Children under 12</h3>
                    <div class="separator clearfix"></div>


                    <!-- HAIR & MAKE-UP -->
                    <div class="sc-product-item container">
                        <div class="grid row">
                            <div class="grid-name col-md-3 col-sm-12" data-name="product_name"><strong>Hair & Make-up</strong></div>
                            <div class="grid-description col-md-4 col-sm-12" data-name="product_desc">Child under 12. </div>
                            <div class="price col-md-2 col-sm-12">
                                <strong class="">£25.00</strong>

                                <input name="product_price" value="25.00" type="hidden" />
                                <input name="product_id" value="07" type="hidden" />
                            </div>
                            <div class="form-group2 add-to-cart col-md-3 col-sm-12">
                                <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number">
                                <button class="add-on-bookings sc-add-to-cart btn btn-default pull-right">Add to cart</button>
                            </div>

                        </div>
                    </div>

                    <hr class="booking-divider" />
                    <div class="clearfix"></div>

                    <!-- HAIR ONLY -->
                    <div class="sc-product-item container">
                        <div class="grid row">
                            <div class="grid-name col-md-3 col-sm-12" data-name="product_name"><strong>Hair only</strong></div>
                            <div class="grid-description col-md-4 col-sm-12" data-name="product_desc">Child under 12. </div>
                            <div class="price col-md-2 col-sm-12">
                                <strong class="">£15.00</strong>
                                <input name="product_price" value="15.00" type="hidden" />
                                <input name="product_id" value="08" type="hidden" />
                            </div>
                            <div class="form-group2 add-to-cart col-md-3 col-sm-12">
                                <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number">
                                <button class="add-on-bookings sc-add-to-cart btn btn-default pull-right">Add to cart</button>
                            </div>
                        </div>
                    </div>

                    <hr class="booking-divider" />
                    <div class="clearfix"></div>

                    <!-- MAKE-UP ONLY -->
                    <div class="sc-product-item container">
                        <div class="grid row">
                            <div class="grid-name col-md-3 col-sm-12" data-name="product_name"><strong>Make-up only</strong></div>
                            <div class="grid-description col-md-4 col-sm-12" data-name="product_desc">Child under 12. </div>
                            <div class="price col-md-2 col-sm-12">
                                <strong class="">£15.00</strong>
                                <input name="product_price" value="15.00" type="hidden" />
                                <input name="product_id" value="09" type="hidden" />
                            </div>
                            <div class="form-group2 add-to-cart col-md-3 col-sm-12">
                                <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number">
                                <button class="add-on-bookings sc-add-to-cart btn btn-default pull-right">Add to cart</button>
                            </div>
                        </div>
                    </div>

                    <hr class="booking-divider" />
                    <div class="clearfix"></div>




                </section>

                <!-- BEGIN EXTRAS -->
                <section class="for-extras space-top">
                    <h3>Extras</h3>

                    <div class="separator clearfix"></div>


                    <!-- LIPSTICK -->
                    <div class="sc-product-item container">
                        <div class="grid row">
                            <div class="grid-name col-md-3 col-sm-12" data-name="product_name"><strong>Lipstick</strong></div>
                            <div class="grid-description col-md-4 col-sm-12">A sample pot of your chosen colour with a retractable brush- to see you through your day.</div>
                            <div class="price col-md-2 col-sm-12">
                                <strong class="">£5.00</strong>
                                <input name="product_price" value="5.00" type="hidden" />
                                <input name="product_id" value="10" type="hidden" />
                            </div>
                            <div class="form-group2 add-to-cart col-md-3 col-sm-12">
                                <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number">
                                <button class="add-on-bookings sc-add-to-cart btn btn-default pull-right">Add to cart</button>
                            </div>
                        </div>
                    </div>

                    <hr class="booking-divider" />
                    <div class="clearfix"></div>

                    <!-- LIPGLOSS -->
                    <div class="sc-product-item container">
                        <div class="grid row">
                            <div class="grid-name col-md-3 col-sm-12" data-name="product_name"><strong>Lipgloss</strong></div>
                            <div class="grid-description col-md-4 col-sm-12">Waterproof and conditioning HD lipgloss available in 6 pigmented shades with adjustable coverage.</div>
                            <div class="price col-md-2 col-sm-12">
                                <strong class="">£15.00</strong>
                                <input name="product_price" value="15.00" type="hidden" />
                                <input name="product_id" value="11" type="hidden" />
                            </div>
                            <div class="form-group2 add-to-cart col-md-3 col-sm-12">
                                <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number">
                                <button class="add-on-bookings sc-add-to-cart btn btn-default pull-right">Add to cart</button>
                            </div>
                        </div>
                    </div>

                    <hr class="booking-divider" />
                    <div class="clearfix"></div>

                    <!-- COMPACT -->
                    <div class="sc-product-item container">
                        <div class="grid row">
                            <div class="grid-name col-md-3 col-sm-12" data-name="product_name"><strong>Compact</strong></div>
                            <div class="grid-description col-md-4 col-sm-12">HD finishing powder to keep your base shine-free and flawless troughout your night & day.</div>
                            <div class="price col-md-2 col-sm-12">
                                <strong class="">£20.00</strong>
                                <input name="product_price" value="20.00" type="hidden" />
                                <input name="product_id" value="12" type="hidden" />
                            </div>
                            <div class="form-group2 add-to-cart col-md-3 col-sm-12">
                                <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number">
                                <button class="add-on-bookings sc-add-to-cart btn btn-default pull-right">Add to cart</button>
                            </div>
                        </div>
                    </div>

                    <hr class="booking-divider" />
                    <div class="clearfix"></div>

                    <!-- HAIR EXTENSIONS -->
                    <div class="sc-product-item container">
                        <div class="grid row">
                            <div class="grid-name col-md-3 col-sm-12" data-name="product_name"><strong>Hair extensions</strong></div>
                            <div class="grid-description col-md-4 col-sm-12" data-name="product_desc">Your own styled and fitted. </div>


                            <div class="price col-md-2 col-sm-12">
                                <strong class="">£10.00</strong>

                                <input name="product_price" value="10.00" type="hidden" />
                                <input name="product_id" value="13" type="hidden" />
                            </div>
                            <div class="form-group2 add-to-cart col-md-3 col-sm-12">
                                <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number">
                                <button class="add-on-bookings sc-add-to-cart btn btn-default pull-right">Add to cart</button>
                            </div>
                        </div>
                    </div>

                    <hr class="booking-divider" />
                    <div class="clearfix"></div>

                    <!-- LASHES -->
                    <div class="sc-product-item container">
                        <div class="grid row">
                            <div class="grid-name col-md-3 col-sm-12" data-name="product_name"><strong>Eyelashes</strong></div>
                            <div class="grid-description col-md-4 col-sm-12" data-name="product_desc">Lashes supplied and applied </div>
                            <div class="price col-md-2 col-sm-12">
                                <strong class="">£10.00</strong>
                                <input name="product_price" value="10.00" type="hidden" />
                                <input name="product_id" value="14" type="hidden" />
                            </div>
                            <div class="form-group2 add-to-cart col-md-3 col-sm-12">
                                <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number">
                                <button class="add-on-bookings sc-add-to-cart btn btn-default pull-right">Add to cart</button>
                            </div>
                        </div>
                    </div>



                    <hr class="booking-divider" />
                    <div class="clearfix"></div>


                </section>

            </div>

        </div>

        <!-- CART -->

        <aside class="col-md-4 cart-checkout">

            <!-- Cart submit form -->
            <form action="results.php" method="POST">
                <!-- SmartCart element -->
                <div id="smartcart"></div>
            </form>

        </aside>




    </div>

</div>
<!-- section end -->
