<!DOCTYPE html>

<html>
{% include head.html %}


<body class="transparent-header front-page page-loader-5">

	{% include fbscript.html %}
	
   <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>	

  {% include header.html %}
   <main class="page-wrapper">

    <article>
    {% include revolution.html %}
    
    {% include team.html %}
    
    {% include firstbreak.html %}
    
    {% include services.html %}
    
      {{ content }}
    </article>

   {% include footer.html %}
   

  </main>
  {% include js.html %}
</body>


</html>

